hr {
    color: gray;

}

.newUserTitle {
    font-size: 20pt;
    color: gray;
    text-align: center;
    margin-left: 275px;
    width: 438px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;

    color: #0C3122;
}

table {

    font-size: 20px;
    max-width: 70%;
    width: 70%;
    text-align: center;

}

td {
    text-align: center;

}

button {
    width: 80px;
    height: 40px;
}

input, .selectStyle {
    background-color: #b1aeaee8;
    border-color: white;
    height: 20px;
}

.selectStyle {
    height: 30px
}

.errorMessage {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: black;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 15px;


}

.cdaText {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 0px;
    color: #0C3122;
    margin-top: 5px;
}

.closeBtn {

    height: 50px;
    width: 150px;
    font-size: 20pt;
    float: right;
    border: 1px solid grey;
    border-radius: 50px;
    cursor: pointer;

}

.RegisterBtn {
    margin-left: 150px;
    margin-top: 20px;
    height: 50px;
    width: 250px;
    font-size: 14pt;

    border: 1px solid grey;
    border-radius: 50px;
    cursor: pointer;
}

.smallLogo {
    cursor: pointer;
}

.logotype_R {
    margin-left: 150px;
}

.logotype_R1 {
    margin-left: 600px;
}

.title {
    font-weight: bold;
    text-align: center;
}

.errorMessage{
background-image: url("./PersonalArea/Union.png");
    background-repeat: no-repeat;
    position: absolute;
    margin-left:27%;
    width: 200px;
    height: 55px;
    z-index: 5;
    background-size: 100%;

}
.errorMessage2{
    background-image: url("./PersonalArea/Union.png");
    background-repeat: no-repeat;
    position: absolute;
    margin-left:27%;
    height: 55px;
    width: 200px;
    z-index: 5;
    background-size: 100%;
    margin-top: 80px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: black;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 15px;
    height: 55px;


}


.numbers{
    position: absolute;
    width: 758px;
    height: 150px;
    margin-left: 25%;
    margin-top: 257px;
}
.form3{
    margin-top: 432px;
    background: #FFFFFF;
    border: 1px solid #0C3122;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(12, 49, 34, 0.2);
    border-radius: 20px;
    width:970px;
    height:471px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;


    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #0C3122;
    padding-top:38px;

}
.inputs2{
    display: flex;
    flex-direction: column;
    position: center;
    margin-left:300px;
    width:370px;
    margin-top: 25px;
}

.checks5{
    position: absolute;
    margin-left: 300px;
    width:456px;
    text-align: left;

}
.underline{
    text-decoration: underline;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 0px;
    color: #0C3122;
    cursor: pointer;
}
words2{
    position: relative;
    white-space: nowrap;


}

.btn_reg_two{
    width: 250px;
    height:50px;
    margin-top: 105px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FEFFE0;
    background-color: #B3B3B3;
    border-radius: 107.308px;
    cursor: pointer;

}
.errorMessage4{
    background-image: url("./PersonalArea/Union.png");
    background-repeat: no-repeat;
    position: absolute;
    margin-left:27%;
    width: 200px;
    height: 55px;
    z-index: 5;
    background-size: 100%;
    margin-top: 150px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: black;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 15px;

}
#errorFive{

    background-repeat: no-repeat;
    position: absolute;
    margin-left:-50px;
    width: 333px;
    height: 200px;
    z-index: 7;
    background-size: 100%;
    margin-top: -45px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: black;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 15px;


}

.union{
    position:absolute;
    z-index: 0;
    margin-left: -200px;
    height:150px;
    width:380px;
    margin-top: -15px;

}

.list{
    position: absolute;
    z-index: 3;
    text-align:left;
    margin-left: -10px;
    margin-top: -15px;
}